---
http_interactions:
- request:
    method: post
    uri: https://sales14.namely.com/api/v1/profiles
    body:
      encoding: UTF-8
      string: '{"profiles":[{}],"access_token":"26e61d40dcb6a87aa3e9090e998fae92"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: UTF-8
      string: '{"message":"error creating profile","errors":["first_name is a required
        field","last_name is a required field","email is a required field",["format
        of email  is invalid"]]}'
  recorded_at: Fri, 31 Oct 2014 14:48:31 GMT
recorded_with: VCR 2.9.3
